<mat-nav-list>
  <h2 matSubheader>Labeling</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/classification" (newItemEvent)="addItem($event)">
    <mat-icon>filter_none</mat-icon>
    Classification
  </a>
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/segmentation">
    <mat-icon>create</mat-icon>
    Segmentation
  </a> -->
  <mat-divider></mat-divider>
  <h2 matSubheader>Images</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/image">
    <mat-icon>image</mat-icon>
    Images
  </a>
  <mat-divider></mat-divider>
  <h2 matSubheader>Summary</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    results</a>
</mat-nav-list>